<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/heidelberg.jpeg" />
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
            Heidelberg Connect
        </a>

    </div>
    <ul class="nav">
        <li><a routerLink="/"><i class="fas fa-car"></i>Automobile</a></li>
        <li><a routerLink="concerts"><i class="fas fa-music"></i>Concerts</a></li>
        <li><a routerLink="courier"><i class="fas fa-shipping-fast"></i>Courier</a></li>
        <li><a routerLink="hospitals"><i class="fas fa-hospital"></i>Hospitals</a></li>
        <li><a routerLink="hotels"><i class="fas fa-hotel"></i>Hotels</a></li>
        <li><a routerLink="language-institutes"><i class="fas fa-language"></i>Language Institutes</a></li>
        <li><a routerLink="markets"><i class="fas fa-shopping-basket"></i>Markets</a></li>
        <li><a routerLink="pharmacy"><i class="fas fa-capsules"></i>Pharmacy</a></li>
        <li><a routerLink="realestate"><i class="fas fa-building"></i>Real Estate</a></li>
    </ul>
</div>
